html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.card-title:hover {
    color: deepskyblue!important;
}
.card-img-top {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card-img-top:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    }
.action-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}
